
                                  /* header*/
nav{
    padding: 25.5px 0px;
    text-align: center;
}

.menu{
    text-decoration: none;
    color: #FF0000;  
}

.navigation__items{
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    margin-right: 72px;
    text-transform: uppercase;
}

                                       /*main*/

.foto{
    width: 100%;
}

.text__block{
    padding: 48px 67.5px 0px;
    margin-bottom: 42px;
}

.main__header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 38px;
}

.first__p{
    text-align: center;
}
.text__first{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737; 
}

.second__p{
    padding: 28px 0px 84px;
    text-align: center;
}

.text__second{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.wrapper{
    display: block;
    text-align: center;
}

.push{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    padding: 18px 43px;
}

                                         /*footer*/

footer{
    padding: 40px 105px 29px 0px;
}
h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
}
